{% extends "admin/base.html" %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'examples:cached' %}">Пример кэширования кверисета</a></h1>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}
{% block title %}Cached queryset example{% endblock %}
{% block pretitle %}(смотри метрики в DjDT, кэш живет всего минуту)
    <a href="{% url 'examples:index' %}">Вернуться к примерам</a>
    <p>
        Тут представлен для ознакомления пример кэширования кверисета.
        В следующий примерах кэшироваться будут данные, которые отдаются вьюшками drf.
    </p>
    <p>
        Как сделано сейчас делать не надо))) Кэшировать следует отрендеренную шаблонизатором страницу,
        или готовый json в виде строки. Для этого есть специальный декоратор:
    </p>
    <p>
        @cache_page(ttl).
    </p>
    <p>
        Для вьюшек, построенных на классах, он используется так:
    </p>
    <p>
        ...<br>
        @method_decorator(cache_page(60*60*2))<br>
        def get(...
    </p>
    <p>
        Подробнее для drf - <a href="https://www.django-rest-framework.org/api-guide/caching/">здесь</a>
    </p>
    <p>
        Цель этого примера - показать больший контроль над кэшированием,
        откуда брать уникальный ключ кэша,
        что набор данных уникален для строки sql запроса.
    </p>
{% endblock %}
{% block content_title %}<h1>Кэширование кверисета</h1>{% endblock %}
{% block content_subtitle %}<h2>Пример кэшированных данных</h2>{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="module">
            {% for item in object_list %}
                <h2>{{ item.title }}</h2>
                <p>{{ item.content_text }}</p>
                <div>{{ item.content_html|safe }}</div>
                <img src="{{ item.photo_url }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}
